@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@source '../node_modules/flowbite-svelte/dist';

@theme {
  --z-index-100: 100;

  --color-primary-50: #f5f1ff;
  --color-primary-100: #e9e4ff;
  --color-primary-200: #d8cdfe;
  --color-primary-300: #b1a4fd;
  --color-primary-400: #8871fb;
  --color-primary-500: #573ff4;
  --color-primary-600: #4b1de1;
  --color-primary-700: #3412be;
  --color-primary-800: #38129f;
  --color-primary-900: #381388;
}

@layer components {
  .divclass {
    @apply m-4;
  }
  .rangeLabelClass {
    @apply m-4 block text-sm font-medium text-gray-900 dark:text-white;
  }
  .rangeInputClass {
    @apply h-2 w-full cursor-pointer appearance-none rounded-lg bg-gray-200 sm:w-1/3 dark:bg-gray-700;
  }
  .searchLabelClass {
    @apply m-4 block text-lg font-medium text-gray-900 dark:text-white;
  }
  .searchInputClass {
    @apply m-auto mb-8 block w-80 rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-lg text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500;
  }
  .ulclass {
    @apply m-auto w-auto max-w-md list-inside list-disc space-y-1 text-left text-gray-700 dark:text-gray-200;
  }
}
